In [1]:
import pandas as pd

In [2]:
ARI_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=ARI&t=p&year=2022")[1]

In [3]:
ARI_Pitching_df['Team'] = 'ARI'
ARI_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,SDP,"W,4-2",9.0,4,2,2,...,0,0,0,0,0,2,6,Larry Vanover,"M.Bumgarner (99-51), L.Weaver (99), S.Poppen (...",ARI
1,2,2,Apr 8,NaN,SDP,"L,0-3",9.0,11,3,2,...,0,1,1,0,0,1,5,Dan Bellino,"M.Kelly (99-59), J.Wendelken (99), O.Pérez (0-...",ARI
2,3,3,Apr 9,NaN,SDP,"L,2-5",9.0,10,5,4,...,0,0,0,1,0,1,5,Sean Barber,"Z.Davies (99-50), J.Mantiply (1), N.Ramirez (1...",ARI
3,4,4,Apr 10,NaN,SDP,"L,5-10",9.0,8,10,7,...,1,0,0,2,2,0,5,Junior Valentine,"C.Smith (99-30-L), C.Martin (99), H.Castellano...",ARI
4,5,5,Apr 12,NaN,HOU,"L,1-2",9.0,8,2,2,...,0,0,0,0,1,1,6,John Libka,"M.Bumgarner (4-53), N.Ramirez (2), J.Wendelken...",ARI

In [4]:
ATL_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=ATL&t=p&year=2022")[1]

In [5]:
ATL_Pitching_df['Team'] = 'ATL'
ATL_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,CIN,"L,3-6",9.0,10,6,6,...,0,0,0,1,0,1,4,Jerry Layne,"M.Fried (99-37-L), C.McHugh (99), S.Strider (9...",ATL
1,2,2,Apr 8,NaN,CIN,"W,7-6",9.0,6,6,6,...,0,0,0,1,0,0,5,Hunter Wendelstedt,"C.Morton (99-60-W), A.Minter (99), W.Smith (99...",ATL
2,3,3,Apr 9,NaN,CIN,"W,2-1",9.0,3,1,1,...,0,0,0,0,0,1,4,Chad Whitson,"K.Wright (99-73-W), A.Minter (0-H), D.O'Day (9...",ATL
3,4,4,Apr 10,NaN,CIN,"L,3-6",9.0,7,6,6,...,0,0,0,0,0,0,4,Adam Hamari,"I.Anderson (99-28-L), S.Newcomb (99), C.McHugh...",ATL
4,5,5,Apr 11,NaN,WSN,"L,2-11",9.0,15,11,11,...,0,0,0,0,0,0,3,Angel Hernandez,"H.Ynoa (99-27-L), S.Strider (3), T.Davidson (99)",ATL

In [6]:
BAL_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=BAL&t=p&year=2022")[1]

In [7]:
BAL_Pitching_df['Team'] = 'BAL'
BAL_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,TBR,"L,1-2",8.0,8,2,2,...,0,0,0,2,0,0,6,Jeff Nelson,"J.Means (99-50), B.Baker (99), C.Pérez (99), D...",BAL
1,2,2,Apr 9,@,TBR,"L,3-5",8.0,8,5,5,...,1,0,0,1,1,3,2,CB Bucknor,"J.Lyles (99-32-L), K.Akin (99)",BAL
2,3,3,Apr 10,@,TBR,"L,0-8",8.0,11,8,8,...,0,0,0,1,0,1,5,Manny Gonzalez,"T.Wells (99-33-L), F.Bautista (99), J.Krehbiel...",BAL
3,4,4,Apr 11,NaN,MIL,"W,2-0",9.0,6,0,0,...,0,0,0,0,0,1,5,Chad Fairchild,"B.Zimmermann (99-58), M.Baumann (99-W), D.Tate...",BAL
4,5,5,Apr 12,NaN,MIL,"L,4-5",9.0,9,5,2,...,0,0,0,0,2,1,6,Laz Diaz,"S.Watkins (99-40), K.Akin (2), F.Bautista (1-L...",BAL

In [8]:
BOS_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=BOS&t=p&year=2022")[1]

In [9]:
BOS_Pitching_df['Team'] = 'BOS'
BOS_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,NYY,"L,5-6",10.0,9,6,4,...,0,2,0,1,0,0,7,Laz Diaz,"N.Eovaldi (99-51), G.Whitlock (99-BSv), M.Stra...",BOS
1,2,2,Apr 9,@,NYY,"L,2-4",8.0,4,4,4,...,0,0,0,0,0,0,4,Brian O'Nora,"N.Pivetta (99-46-L), A.Davis (99), H.Sawamura ...",BOS
2,3,3,Apr 10,@,NYY,"W,4-3",9.0,11,3,3,...,0,0,0,0,0,2,6,Tripp Gibson,"T.Houck (99-36), R.Brasier (1), K.Crawford (1-...",BOS
3,4,4,Apr 11,@,DET,"L,1-3",8.0,8,3,3,...,0,0,0,1,0,0,6,Stu Scheurwater,"M.Wacha (99-56), M.Strahm (0), M.Barnes (99), ...",BOS
4,5,5,Apr 12,@,DET,"W,5-3",9.0,5,3,3,...,0,0,0,0,0,0,3,Jeff Nelson,"R.Hill (99-44), H.Sawamura (2), G.Whitlock (3-W)",BOS

In [10]:
CHC_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=CHC&t=p&year=2022")[1]

In [11]:
CHC_Pitching_df['Team'] = 'CHC'
CHC_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,MIL,"W,5-4",9.0,10,4,4,...,0,0,0,2,0,2,6,Ted Barrett,"K.Hendricks (99-58), D.Norris (99-H), C.Martin...",CHC
1,2,2,Apr 9,NaN,MIL,"W,9-0",9.0,4,0,0,...,0,0,0,0,0,3,4,Lance Barksdale,"J.Steele (99-63-W), K.Thompson (99), S.Effross...",CHC
2,3,3,Apr 10,NaN,MIL,"L,4-5",9.0,5,5,5,...,0,0,0,0,0,0,5,Nic Lentz,"M.Stroman (99-59), J.Chavez (99-BSv), D.Norris...",CHC
3,4,4,Apr 12,@,PIT,"W,2-1",9.0,6,1,1,...,0,0,0,0,0,0,5,Jeremie Rehak,"D.Smyly (99-62-W), C.Martin (4-H), E.Roberts (...",CHC
4,5,5,Apr 13,@,PIT,"L,2-6",8.0,8,6,6,...,1,0,0,0,0,1,4,Mark Wegner,"K.Hendricks (5-23-L), M.Rucker (99), R.Wick (5...",CHC

In [12]:
CHW_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=CHW&t=p&year=2022")[1]

In [13]:
CHW_Pitching_df['Team'] = 'CHW'
CHW_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,DET,"L,4-5",8.2,8,5,5,...,1,0,0,0,0,0,6,Marvin Hudson,"L.Giolito (99-64), B.Sousa (99), K.Crick (99-H...",CHW
1,2,2,Apr 9,@,DET,"W,5-2",9.0,7,2,2,...,0,0,0,0,0,3,5,Adrian Johnson,"D.Cease (99-64-W), R.López (99), B.Sousa (0-H)...",CHW
2,3,3,Apr 10,@,DET,"W,10-1",9.0,2,1,1,...,1,0,0,0,0,0,5,John Tumpane,"M.Kopech (99-55), K.Crick (1-W), M.Foster (99)...",CHW
3,4,4,Apr 12,NaN,SEA,"W,3-2",9.0,7,2,2,...,0,0,0,0,0,0,6,Phil Cuzzi,"V.Velasquez (99-53), B.Sousa (2), R.López (2-W...",CHW
4,5,5,Apr 13,NaN,SEA,"W,6-4",9.0,8,4,3,...,0,0,0,0,0,0,5,Cory Blaser,"D.Keuchel (99-48-W), K.Crick (2-H), J.Ruiz (3-...",CHW

In [14]:
CIN_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=CIN&t=p&year=2022")[1]

In [15]:
CIN_Pitching_df['Team'] = 'CIN'
CIN_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,@,ATL,"W,6-3",9.0,4,3,2,...,0,0,0,0,0,0,5,Jerry Layne,"T.Mahle (99-64-W), L.Cessa (99), J.Wilson (99)...",CIN
1,2,2,Apr 8,@,ATL,"L,6-7",8.0,8,7,7,...,0,0,0,1,1,1,5,Hunter Wendelstedt,"R.Sanmartin (99-26-L), J.Hoffman (99), D.Duart...",CIN
2,3,3,Apr 9,@,ATL,"L,1-2",8.0,8,2,2,...,0,0,0,1,0,0,5,Chad Whitson,"V.Gutiérrez (99-45-L), H.Strickland (99), J.Wi...",CIN
3,4,4,Apr 10,@,ATL,"W,6-3",9.0,7,3,3,...,0,0,0,1,0,1,4,Adam Hamari,"H.Greene (99-52-W), L.Cessa (2-H), T.Santillan...",CIN
4,5,5,Apr 12,NaN,CLE,"L,5-10",9.0,11,10,10,...,2,0,0,1,0,0,6,Larry Vanover,"T.Mahle (4-38), J.Hoffman (3), A.Warren (1), T...",CIN

In [16]:
CLE_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=CLE&t=p&year=2022")[1]

In [17]:
CLE_Pitching_df['Team'] = 'CLE'
CLE_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,@,KCR,"L,1-3",8.0,4,3,2,...,0,0,1,0,2,0,3,Phil Cuzzi,"S.Bieber (99-62), B.Shaw (99), T.McKenzie (99-L)",CLE
1,2,2,Apr 9,@,KCR,"L,0-1",9.0,6,1,0,...,0,0,0,0,0,1,6,Cory Blaser,"Z.Plesac (99-66), B.Shaw (1), N.Sandlin (99), ...",CLE
2,3,3,Apr 10,@,KCR,"W,17-3",9.0,7,3,3,...,0,0,0,0,0,0,4,Mark Ripperger,"C.Quantrill (99-52-W), E.Morgan (99), S.Hentge...",CLE
3,4,4,Apr 11,@,KCR,"W,10-7",9.0,9,7,5,...,0,0,0,0,0,2,6,Erich Bacchus,"A.Civale (99-40), T.Stephan (1), L.Allen (99-W...",CLE
4,5,5,Apr 12,@,CIN,"W,10-5",9.0,5,5,5,...,0,0,0,0,0,2,5,Larry Vanover,"S.Bieber (4-54), A.Gose (2-BSv), A.Castro (1),...",CLE

In [18]:
COL_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=COL&t=p&year=2022")[1]

In [19]:
COL_Pitching_df['Team'] = 'COL'
COL_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,LAD,"L,3-5",9.0,8,5,5,...,0,0,0,0,0,0,4,Mark Wegner,"K.Freeland (99-35-L), T.Kinley (99), A.Goudeau...",COL
1,2,2,Apr 9,NaN,LAD,"W,3-2",9.0,7,2,2,...,0,0,0,0,0,0,4,Alan Porter,"G.Márquez (99-72), A.Colomé (99-BSv), C.Estéve...",COL
2,3,3,Apr 10,NaN,LAD,"W,9-4",9.0,10,4,1,...,0,0,0,1,1,1,3,Jeremy Riggs,"A.Senzatela (99-31), J.Chacín (99-W), T.Blach ...",COL
3,4,4,Apr 11,@,TEX,"W,6-4",10.0,9,4,4,...,0,0,0,0,0,1,7,Bill Miller,"A.Gomber (99-46), J.Lawrence (2), T.Kinley (2)...",COL
4,5,5,Apr 12,@,TEX,"W,4-1",9.0,4,1,1,...,0,0,0,0,0,0,4,Doug Eddings,"C.Kuhl (99-56), J.Chacín (1-W), C.Estévez (0-H...",COL

In [20]:
DET_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=DET&t=p&year=2022")[1]

In [21]:
DET_Pitching_df['Team'] = 'DET'
DET_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,CHW,"W,5-4",9.0,8,4,4,...,0,0,0,0,0,1,5,Marvin Hudson,"E.Rodriguez (99-42), D.Hutchison (99), A.Lange...",DET
1,2,2,Apr 9,NaN,CHW,"L,2-5",9.0,10,5,5,...,1,0,1,0,0,0,5,Adrian Johnson,"C.Mize (99-39-L), J.Jiménez (99), J.Foley (99)...",DET
2,3,3,Apr 10,NaN,CHW,"L,1-10",9.0,13,10,9,...,0,0,0,1,1,0,4,John Tumpane,"T.Skubal (99-32-L), E.Rodriguez (99), R.García...",DET
3,4,4,Apr 11,NaN,BOS,"W,3-1",9.0,4,1,1,...,0,0,0,0,0,0,4,Stu Scheurwater,"M.Manning (99-68), A.Lange (2), M.Fulmer (1-W)...",DET
4,5,5,Apr 12,NaN,BOS,"L,3-5",9.0,9,5,5,...,0,0,1,0,0,1,6,Jeff Nelson,"T.Alexander (99-50), J.Barnes (3-BSv), J.Jimén...",DET

In [22]:
MIA_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=MIA&t=p&year=2022")[1]

In [23]:
MIA_Pitching_df['Team'] = 'MIA'
MIA_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,SFG,"L,5-6",9.2,6,6,5,...,0,1,0,0,1,0,7,Alfonso Márquez,"S.Alcantara (99-50), T.Scott (99), C.Sulser (9...",MIA
1,2,2,Apr 9,@,SFG,"W,2-1",9.0,5,1,1,...,0,0,0,0,0,1,5,Lance Barrett,"P.López (99-62), S.Okert (99-W), C.Sulser (0-H...",MIA
2,3,3,Apr 10,@,SFG,"L,2-3",8.0,6,3,2,...,0,0,0,1,1,1,4,Ramon De Jesus,"T.Rogers (99-47-L), S.Armstrong (99), A.Bass (...",MIA
3,4,4,Apr 11,@,LAA,"L,2-6",8.0,7,6,6,...,0,0,0,0,0,0,4,Nick Mahrley,"E.Hernandez (99-41-L), C.Poteet (99), T.Scott ...",MIA
4,5,5,Apr 12,@,LAA,"L,3-4",8.1,4,4,4,...,1,0,0,0,0,0,5,Alfonso Márquez,"J.Luzardo (99-70), T.Scott (0), A.Bass (1), C....",MIA

In [24]:
HOU_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=HOU&t=p&year=2022")[1]

In [25]:
HOU_Pitching_df['Team'] = 'HOU'
HOU_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,@,LAA,"W,3-1",9.0,4,1,1,...,1,0,0,0,1,3,4,Ed Hickox,"F.Valdez (99-75-W), P.Maton (99-H), H.Neris (9...",HOU
1,2,2,Apr 8,@,LAA,"W,13-6",9.0,13,6,3,...,0,0,1,0,0,0,6,Vic Carapazza,"J.Odorizzi (99-44), R.Montero (99-W), B.Taylor...",HOU
2,3,3,Apr 9,@,LAA,"L,0-2",8.0,6,2,2,...,0,0,1,0,0,0,4,Jansen Visconti,"J.Verlander (99-61-L), C.Javier (99), B.Taylor...",HOU
3,4,4,Apr 10,@,LAA,"W,4-1",9.0,7,1,1,...,0,0,0,0,0,0,5,Ryan Wills,"J.Urquidy (99-57-W), P.Maton (2-H), R.Montero ...",HOU
4,5,5,Apr 12,@,ARI,"W,2-1",9.0,4,1,1,...,0,0,1,0,0,0,6,John Libka,"L.Garcia (99-57), B.Abreu (3), B.Taylor (2), P...",HOU

In [26]:
KCR_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=KCR&t=p&year=2022")[1]

In [27]:
KCR_Pitching_df['Team'] = 'KCR'
KCR_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,CLE,"W,3-1",9.0,7,1,1,...,0,0,0,0,0,1,4,Phil Cuzzi,"Z.Greinke (99-55), J.Brentz (99), J.Staumont (...",KCR
1,2,2,Apr 9,NaN,CLE,"W,1-0",10.0,5,0,0,...,0,0,0,0,0,2,6,Cory Blaser,"B.Keller (99-72), D.Coleman (99), A.Garrett (9...",KCR
2,3,3,Apr 10,NaN,CLE,"L,3-17",9.0,22,17,17,...,2,0,0,0,0,1,5,Mark Ripperger,"K.Bubic (99-24-L), T.Clarke (0), J.Kowar (99),...",KCR
3,4,4,Apr 11,NaN,CLE,"L,7-10",9.0,13,10,10,...,1,0,1,0,0,1,8,Erich Bacchus,"C.Hernández (99-34), C.Snider (1), D.Coleman (...",KCR
4,5,5,Apr 12,@,STL,"L,5-6",8.0,10,6,6,...,0,0,0,0,0,0,4,Ron Kulpa,"D.Lynch (99-31-L), J.Payamps (0), A.Garrett (2...",KCR

In [28]:
LAA_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=LAA&t=p&year=2022")[1]

In [29]:
LAA_Pitching_df['Team'] = 'LAA'
LAA_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,HOU,"L,1-3",9.0,8,3,3,...,0,1,0,0,0,0,6,Ed Hickox,"S.Ohtani (99-60-L), A.Loup (99), A.Warren (99)...",LAA
1,2,2,Apr 8,NaN,HOU,"L,6-13",9.0,14,13,13,...,0,0,0,0,0,1,5,Vic Carapazza,"R.Detmers (99-49), O.Ortega (99-L), M.Mayers (...",LAA
2,3,3,Apr 9,NaN,HOU,"W,2-0",9.0,2,0,0,...,0,0,0,0,1,1,4,Jansen Visconti,"N.Syndergaard (99-63-W), A.Loup (1-H), R.Teper...",LAA
3,4,4,Apr 10,NaN,HOU,"L,1-4",9.0,7,4,4,...,0,1,0,0,0,0,5,Ryan Wills,"J.Suarez (99-49-L), A.Warren (2), A.Bradley (2...",LAA
4,5,5,Apr 11,NaN,MIA,"W,6-2",9.0,3,2,2,...,0,0,0,0,0,0,4,Nick Mahrley,"M.Lorenzen (99-71-W), A.Loup (1-H), R.Tepera (...",LAA

In [30]:
LAD_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=LAD&t=p&year=2022")[1]

In [31]:
LAD_Pitching_df['Team'] = 'LAD'
LAD_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,COL,"W,5-3",9.0,7,3,3,...,0,0,0,0,1,0,5,Mark Wegner,"W.Buehler (99-54-W), B.Graterol (99-H), B.Trei...",LAD
1,2,2,Apr 9,@,COL,"L,2-3",8.0,8,3,3,...,0,0,0,0,0,0,3,Alan Porter,"T.Gonsolin (99-47), T.Anderson (99), B.Treinen...",LAD
2,3,3,Apr 10,@,COL,"L,4-9",8.0,10,9,6,...,0,0,0,1,1,1,5,Jeremy Riggs,"J.Urías (99-24-L), M.White (99), B.Graterol (1...",LAD
3,4,4,Apr 12,@,MIN,"W,7-2",9.0,5,2,1,...,0,0,0,0,0,0,6,Jerry Meals,"A.Heaney (99-60), B.Graterol (1), D.Price (99)...",LAD
4,5,5,Apr 13,@,MIN,"W,7-0",9.0,1,0,0,...,0,0,0,0,0,0,3,Ed Hickox,"C.Kershaw (99-90-W), A.Vesia (99), J.Bruihl (2)",LAD

In [32]:
MIL_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=MIL&t=p&year=2022")[1]

In [33]:
MIL_Pitching_df['Team'] = 'MIL'
MIL_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,@,CHC,"L,4-5",8.0,8,5,5,...,0,0,0,1,0,1,3,Ted Barrett,"C.Burnes (99-48), A.Ashby (99-L), J.Cousins (99)",MIL
1,2,2,Apr 9,@,CHC,"L,0-9",8.0,10,9,9,...,0,0,0,1,0,0,5,Lance Barksdale,"B.Woodruff (99-20-L), J.Ureña (99), J.Gustave ...",MIL
2,3,3,Apr 10,@,CHC,"W,5-4",9.0,4,4,3,...,0,0,0,0,0,1,6,Nic Lentz,"F.Peralta (99-46), B.Suter (99), J.Cousins (2-...",MIL
3,4,4,Apr 11,@,BAL,"L,0-2",8.0,6,2,2,...,0,0,0,0,2,1,4,Chad Fairchild,"A.Houser (99-45-L), A.Ashby (3), J.Gustave (1)...",MIL
4,5,5,Apr 12,@,BAL,"W,5-4",9.0,7,4,3,...,0,0,0,0,0,0,6,Laz Diaz,"E.Lauer (99-46), J.Cousins (1), H.Milner (0-W)...",MIL

In [34]:
MIN_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=MIN&t=p&year=2022")[1]

In [35]:
MIN_Pitching_df['Team'] = 'MIN'
MIN_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,SEA,"L,1-2",9.0,5,2,2,...,0,0,0,0,0,1,4,Ron Kulpa,"J.Ryan (99-50-L), J.Duran (99), J.Alcala (99),...",MIN
1,2,2,Apr 9,NaN,SEA,"L,3-4",9.0,9,4,4,...,0,0,0,0,1,1,5,Marty Foster,"S.Gray (99-50), C.Thielbar (99), J.Smith (99),...",MIN
2,3,3,Apr 10,NaN,SEA,"W,10-4",9.0,7,4,4,...,0,0,0,0,0,0,5,Chris Conroy,"B.Ober (99-45-W), D.Coulombe (1), J.Alcala (1)...",MIN
3,4,4,Apr 11,NaN,SEA,"W,4-0",9.0,2,0,0,...,0,0,0,0,2,0,5,Carlos Torres,"D.Bundy (99-66-W), C.Thielbar (1), T.Duffey (1...",MIN
4,5,5,Apr 12,NaN,LAD,"L,2-7",9.0,9,7,7,...,1,0,0,1,0,0,8,Jerry Meals,"C.Archer (99-61), J.Winder (99), D.Coulombe (1...",MIN

In [36]:
NYM_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=NYM&t=p&year=2022")[1]

In [37]:
NYM_Pitching_df['Team'] = 'NYM'
NYM_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,@,WSN,"W,5-1",9.0,6,1,1,...,0,0,1,0,1,1,5,Mark Carlson,"T.Megill (99-67-W), T.May (99), A.Ottavino (99...",NYM
1,2,2,Apr 8,@,WSN,"W,7-3",9.0,5,3,3,...,0,0,0,1,0,1,4,Chris Guccione,"M.Scherzer (99-59-W), D.Smith (99-H), S.Lugo (...",NYM
2,3,3,Apr 9,@,WSN,"W,5-0",9.0,4,0,0,...,0,0,0,0,0,1,4,Jordan Baker,"C.Bassitt (99-73-W), D.Smith (0), J.Rodríguez ...",NYM
3,4,4,Apr 10,@,WSN,"L,2-4",8.0,5,4,2,...,0,0,1,0,0,0,3,Ryan Additon,"C.Carrasco (99-66), C.Shreve (99-H), T.William...",NYM
4,5,5,Apr 11,@,PHI,"L,4-5",8.0,8,5,5,...,0,0,0,0,0,1,5,Ryan Blakney,"T.Walker (99-60), D.Peterson (99), T.May (3), ...",NYM

In [38]:
NYY_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=NYY&t=p&year=2022")[1]

In [39]:
NYY_Pitching_df['Team'] = 'NYY'
NYY_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,BOS,"W,6-5",11.0,9,5,4,...,0,1,0,0,0,3,8,Laz Diaz,"G.Cole (99-44), C.Green (99), C.Holmes (99), M...",NYY
1,2,2,Apr 9,NaN,BOS,"W,4-2",9.0,5,2,2,...,0,0,0,0,1,0,7,Brian O'Nora,"L.Severino (99-46), R.Marinaccio (99), M.Castr...",NYY
2,3,3,Apr 10,NaN,BOS,"L,3-4",9.0,5,4,4,...,0,0,0,2,0,1,5,Tripp Gibson,"J.Montgomery (99-43), C.Schmidt (99-L), L.Luet...",NYY
3,4,4,Apr 11,NaN,TOR,"L,0-3",9.0,10,3,3,...,0,0,0,0,0,0,3,Paul Emmel,"J.Taillon (99-55-L), M.King (2), R.Marinaccio (1)",NYY
4,5,5,Apr 12,NaN,TOR,"W,4-0",9.0,5,0,0,...,0,0,0,0,1,0,5,James Hoye,"N.Cortes (99-62), C.Holmes (2-W), M.Castro (2-...",NYY

In [40]:
OAK_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=OAK&t=p&year=2022")[1]

In [41]:
OAK_Pitching_df['Team'] = 'OAK'
OAK_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,PHI,"L,5-9",8.0,11,9,9,...,0,0,0,1,0,0,4,Dan Iassogna,"F.Montas (99-40-L), J.Lemoine (99), D.Acevedo ...",OAK
1,2,2,Apr 9,@,PHI,"L,2-4",8.0,7,4,4,...,0,0,0,0,0,1,4,Scott Barry,"C.Irvin (99-41-L), D.Jiménez (99), A.Puk (99),...",OAK
2,3,3,Apr 10,@,PHI,"W,4-1",9.0,3,1,1,...,0,0,0,0,0,1,5,Ben May,"D.Jefferies (99-63-W), S.Moll (99-H), D.Aceved...",OAK
3,4,4,Apr 11,@,TBR,"W,13-2",9.0,8,2,2,...,0,0,0,0,0,0,4,Jerry Layne,"P.Blackburn (99-67-W), Z.Jackson (1), A.Puk (1...",OAK
4,5,5,Apr 12,@,TBR,"L,8-9",9.2,13,9,8,...,1,1,0,0,1,0,8,Hunter Wendelstedt,"A.Oller (99-24), J.Lemoine (3), A.Kolarek (99)...",OAK

In [42]:
PHI_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=PHI&t=p&year=2022")[1]

In [43]:
PHI_Pitching_df['Team'] = 'PHI'
PHI_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,OAK,"W,9-5",9.0,6,5,4,...,0,0,0,0,1,0,5,Dan Iassogna,"A.Nola (99-55-W), J.Familia (99-H), B.Hand (99...",PHI
1,2,2,Apr 9,NaN,OAK,"W,4-2",9.0,5,2,1,...,0,0,0,0,0,2,3,Scott Barry,"K.Gibson (99-83-W), J.Alvarado (99), C.Knebel ...",PHI
2,3,3,Apr 10,NaN,OAK,"L,1-4",9.0,9,4,4,...,0,0,0,0,0,0,4,Ben May,"Z.Eflin (99-59), B.Falter (99-L), C.Brogdon (9...",PHI
3,4,4,Apr 11,NaN,NYM,"W,5-4",9.0,7,4,4,...,0,0,1,0,2,2,4,Ryan Blakney,"R.Suárez (99-36), N.Nelson (99), S.Domínguez (...",PHI
4,5,5,Apr 12,NaN,NYM,"L,0-2",9.0,3,2,2,...,0,0,0,0,0,0,4,Marvin Hudson,"Z.Wheeler (99-58-L), C.Sánchez (99), C.Brogdon...",PHI

In [44]:
PIT_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=PIT&t=p&year=2022")[1]

In [45]:
PIT_Pitching_df['Team'] = 'PIT'
PIT_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,@,STL,"L,0-9",8.0,8,9,9,...,0,0,0,2,1,1,6,Jim Reynolds,"J.Brubaker (99-34-L), W.Crowe (99), D.Underwoo...",PIT
1,2,2,Apr 9,@,STL,"L,2-6",8.0,10,6,6,...,0,0,0,0,0,1,5,Todd Tichenor,"M.Keller (99-36-L), R.Contreras (99), H.Hembre...",PIT
2,3,3,Apr 10,@,STL,"W,9-4",9.0,7,4,4,...,0,0,0,2,0,1,4,Mike Muchlinski,"B.Wilson (99-41), M.Yajure (99-W), H.Hembree (...",PIT
3,4,4,Apr 12,NaN,CHC,"L,1-2",9.0,8,2,2,...,0,0,0,0,0,2,4,Jeremie Rehak,"J.Quintana (99-55-L), A.Banda (2), C.Stratton ...",PIT
4,5,5,Apr 13,NaN,CHC,"W,6-2",9.0,6,2,2,...,0,0,0,0,0,1,3,Mark Wegner,"Z.Thompson (99-46), D.Peters (99-W), W.Crowe (...",PIT

In [46]:
SDP_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=SDP&t=p&year=2022")[1]

In [47]:
SDP_Pitching_df['Team'] = 'SDP'
SDP_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,@,ARI,"L,2-4",8.0,3,4,4,...,0,0,0,0,0,1,5,Larry Vanover,"Y.Darvish (99-71), T.Hill (99-H), P.Johnson (9...",SDP
1,2,2,Apr 8,@,ARI,"W,3-0",9.0,2,0,0,...,0,0,0,0,0,0,4,Dan Bellino,"S.Manaea (99-83-W), T.Hill (0-H), D.Lamet (99-...",SDP
2,3,3,Apr 9,@,ARI,"W,5-2",9.0,5,2,2,...,0,0,0,0,0,1,4,Sean Barber,"J.Musgrove (99-62), S.Wilson (99-W), P.Johnson...",SDP
3,4,4,Apr 10,@,ARI,"W,10-5",9.0,5,5,5,...,0,0,0,0,0,2,6,Junior Valentine,"B.Snell (99), N.Crismatt (99-58), A.Adams (99-...",SDP
4,5,5,Apr 11,@,SFG,"W,4-2",9.0,10,2,2,...,0,0,0,1,0,2,5,Greg Gibson,"N.Martinez (99-58), S.Wilson (1-BW), C.Stammen...",SDP

In [48]:
SFG_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=SFG&t=p&year=2022")[1]

In [49]:
SFG_Pitching_df['Team'] = 'SFG'
SFG_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,MIA,"W,6-5",10.0,9,5,5,...,0,0,0,0,1,1,7,Alfonso Márquez,"L.Webb (99-60), D.Leone (99-H), T.Rogers (99-H...",SFG
1,2,2,Apr 9,NaN,MIA,"L,1-2",9.0,5,2,2,...,0,0,0,0,1,1,5,Lance Barrett,"C.Rodón (99-67), J.Brebbia (0), J.McGee (0-L),...",SFG
2,3,3,Apr 10,NaN,MIA,"W,3-2",9.0,11,2,2,...,0,0,0,1,0,1,5,Ramon De Jesus,"A.DeSclafani (99-41), J.García (99-W), Z.Litte...",SFG
3,4,4,Apr 11,NaN,SDP,"L,2-4",9.0,10,4,4,...,0,0,0,0,0,0,7,Greg Gibson,"A.Wood (99-50), Z.Littell (0), D.Leone (0), T....",SFG
4,5,5,Apr 12,NaN,SDP,"W,13-2",9.0,5,2,2,...,0,0,0,0,0,2,4,Chris Guccione,"A.Cobb (99-59-W), J.García (1), T.Beede (99), ...",SFG

In [50]:
SEA_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=SEA&t=p&year=2022")[1]

In [51]:
SEA_Pitching_df['Team'] = 'SEA'
SEA_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,MIN,"W,2-1",9.0,4,1,1,...,0,0,0,0,0,2,3,Ron Kulpa,"R.Ray (99-68-W), P.Sewald (99-H), D.Steckenrid...",SEA
1,2,2,Apr 9,@,MIN,"W,4-3",9.0,4,3,3,...,0,0,0,0,0,0,5,Marty Foster,"L.Gilbert (99-63), A.Misiewicz (99-H), S.Romo ...",SEA
2,3,3,Apr 10,@,MIN,"L,4-10",8.0,10,10,6,...,0,0,0,0,1,0,5,Chris Conroy,"M.Gonzales (99-27-L), M.Festa (99), E.Swanson ...",SEA
3,4,4,Apr 11,@,MIN,"L,0-4",8.0,10,4,4,...,0,0,0,0,0,1,5,Carlos Torres,"C.Flexen (99-41-L), A.Misiewicz (1), S.Romo (1...",SEA
4,5,5,Apr 12,@,CHW,"L,2-3",8.0,6,3,3,...,0,0,0,0,0,0,4,Phil Cuzzi,"M.Brash (99-57-L), M.Festa (1), D.Steckenrider...",SEA

In [52]:
STL_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=STL&t=p&year=2022")[1]

In [53]:
STL_Pitching_df['Team'] = 'STL'
STL_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,PIT,"W,9-0",9.0,6,0,0,...,0,0,0,0,0,2,4,Jim Reynolds,"A.Wainwright (99-68-W), N.Wittgren (99), G.Cab...",STL
1,2,2,Apr 9,NaN,PIT,"W,6-2",9.0,9,2,2,...,0,0,0,1,0,0,6,Todd Tichenor,"M.Mikolas (99-40), K.Whitley (99-W), N.Wittgre...",STL
2,3,3,Apr 10,NaN,PIT,"L,4-9",9.0,15,9,9,...,0,0,0,0,1,2,4,Mike Muchlinski,"S.Matz (99-17-L), J.Woodford (99), A.Pallante ...",STL
3,4,4,Apr 12,NaN,KCR,"W,6-5",9.0,8,5,5,...,0,0,0,0,0,1,5,Ron Kulpa,"D.Hudson (99-44), J.Hicks (99-W), N.Wittgren (...",STL
4,5,5,Apr 14,@,MIL,"L,1-5",8.0,9,5,5,...,1,0,0,0,0,0,3,Lance Barrett,"A.Wainwright (6-36-L), D.VerHagen (99), A.Broo...",STL

In [54]:
TBR_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=TBR&t=p&year=2022")[1]

In [55]:
TBR_Pitching_df['Team'] = 'TBR'
TBR_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,BAL,"W,2-1",9.0,7,1,1,...,0,0,0,0,0,1,7,Jeff Nelson,"S.McClanahan (99-60), J.Chargois (99), M.Wisle...",TBR
1,2,2,Apr 9,NaN,BAL,"W,5-3",9.0,8,3,3,...,0,0,0,0,0,1,4,CB Bucknor,"D.Rasmussen (99-50), J.Fleming (99-W), J.Feyer...",TBR
2,3,3,Apr 10,NaN,BAL,"W,8-0",9.0,6,0,0,...,0,0,0,0,0,0,5,Manny Gonzalez,"C.Kluber (99-59), J.Springs (1-W), J.Adam (99)...",TBR
3,4,4,Apr 11,NaN,OAK,"L,2-13",9.0,13,13,11,...,1,0,0,0,2,1,6,Jerry Layne,"L.Patiño (99-46-L), C.Mazza (99), J.Feyereisen...",TBR
4,5,5,Apr 12,NaN,OAK,"W,9-8",10.0,8,8,6,...,0,1,0,0,0,1,6,Hunter Wendelstedt,"T.Romero (99-35), J.Springs (1), B.Raley (3-H)...",TBR

In [56]:
TEX_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=TEX&t=p&year=2022")[1]

In [57]:
TEX_Pitching_df['Team'] = 'TEX'
TEX_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,@,TOR,"L,8-10",8.0,9,10,10,...,0,0,0,1,1,1,5,Bill Welke,"J.Gray (99-46), J.King (99), J.Sborz (99-BSv),...",TEX
1,2,2,Apr 9,@,TOR,"L,3-4",8.0,9,4,4,...,0,0,1,0,0,0,4,Andy Fletcher,"D.Dunning (99-47), B.Martin (99-L), S.Patton (...",TEX
2,3,3,Apr 10,@,TOR,"W,12-6",9.0,10,6,6,...,0,0,0,0,0,1,6,Gabe Morales,"S.Howard (99-28), B.Burke (99-W), D.Santana (1...",TEX
3,4,4,Apr 11,NaN,COL,"L,4-6",10.0,14,6,3,...,1,0,0,0,1,1,8,Bill Miller,"T.Hearn (99-47), A.Abreu (99), D.Santana (0-H)...",TEX
4,5,5,Apr 12,NaN,COL,"L,1-4",9.0,7,4,4,...,0,0,1,1,0,2,6,Doug Eddings,"M.Pérez (99-37-L), G.Holland (0), K.Allard (99...",TEX

In [58]:
TOR_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=TOR&t=p&year=2022")[1]

In [59]:
TOR_Pitching_df['Team'] = 'TOR'
TOR_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 8,NaN,TEX,"W,10-8",9.0,8,8,8,...,0,0,0,0,0,0,8,Bill Welke,"J.Berríos (99-27), T.Saucedo (99), T.Thornton ...",TOR
1,2,2,Apr 9,NaN,TEX,"W,4-3",9.0,9,3,3,...,0,0,0,0,0,1,5,Andy Fletcher,"K.Gausman (99-44), T.Richards (99-W), Y.Garcia...",TOR
2,3,3,Apr 10,NaN,TEX,"L,6-12",9.0,11,12,12,...,0,0,0,1,0,0,6,Gabe Morales,"H.Ryu (99-28), J.Merryweather (1-L), R.Stripli...",TOR
3,4,4,Apr 11,@,NYY,"W,3-0",9.0,4,0,0,...,0,0,0,0,0,2,4,Paul Emmel,"A.Manoah (99-73-W), T.Richards (1-H), A.Cimber...",TOR
4,5,5,Apr 12,@,NYY,"L,0-4",8.0,7,4,3,...,0,0,0,1,0,1,5,James Hoye,"Y.Kikuchi (99-40-L), D.Phelps (1), J.Merryweat...",TOR

In [60]:
WSN_Pitching_df = pd.read_html("https://www.baseball-reference.com/teams/tgl.cgi?team=WSN&t=p&year=2022")[1]

In [61]:
WSN_Pitching_df['Team'] = 'WSN'
WSN_Pitching_df.head()

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,NYM,"L,1-5",9.0,12,5,5,...,0,0,0,0,0,2,6,Mark Carlson,"P.Corbin (99-46-L), V.Arano (99), A.Voth (99),...",WSN
1,2,2,Apr 8,NaN,NYM,"L,3-7",9.0,13,7,7,...,1,0,1,0,0,0,6,Chris Guccione,"J.Gray (99-33-L), S.Cishek (99), S.Doolittle (...",WSN
2,3,3,Apr 9,NaN,NYM,"L,0-5",9.0,9,5,5,...,0,0,0,0,0,0,6,Jordan Baker,"J.Adon (99-38-L), A.Voth (1), K.Finnegan (99),...",WSN
3,4,4,Apr 10,NaN,NYM,"W,4-2",9.0,7,2,2,...,0,0,0,0,0,0,5,Ryan Additon,"E.Fedde (99-52), S.Cishek (1), S.Doolittle (1)...",WSN
4,5,5,Apr 11,@,ATL,"W,11-2",9.0,4,2,2,...,0,0,0,0,0,0,4,Angel Hernandez,"J.Rogers (99-61-W), V.Arano (2), H.Harvey (99)...",WSN

In [62]:
df_list = [ARI_Pitching_df, ATL_Pitching_df, BAL_Pitching_df, BOS_Pitching_df, CHC_Pitching_df, CHW_Pitching_df, 
           CIN_Pitching_df, CLE_Pitching_df, COL_Pitching_df, DET_Pitching_df, HOU_Pitching_df, KCR_Pitching_df, 
          LAA_Pitching_df, LAD_Pitching_df, MIA_Pitching_df, MIL_Pitching_df, MIN_Pitching_df, NYM_Pitching_df, 
          NYY_Pitching_df, OAK_Pitching_df, PHI_Pitching_df, PIT_Pitching_df, SDP_Pitching_df, SFG_Pitching_df, 
          SEA_Pitching_df, STL_Pitching_df, TBR_Pitching_df, TOR_Pitching_df, WSN_Pitching_df]

pitching_df = pd.concat(df_list)
pitching_df

,Rk,Gtm,Date,Unnamed: 3,Opp,Rslt,IP,H,R,ER,...,3B,IBB,SH,SF,ROE,GDP,#,Umpire,Pitchers Used (Rest-GameScore-Dec),Team
0,1,1,Apr 7,NaN,SDP,"W,4-2",9.0,4,2,2,...,0,0,0,0,0,2,6,Larry Vanover,"M.Bumgarner (99-51), L.Weaver (99), S.Poppen (...",ARI
1,2,2,Apr 8,NaN,SDP,"L,0-3",9.0,11,3,2,...,0,1,1,0,0,1,5,Dan Bellino,"M.Kelly (99-59), J.Wendelken (99), O.Pérez (0-...",ARI
2,3,3,Apr 9,NaN,SDP,"L,2-5",9.0,10,5,4,...,0,0,0,1,0,1,5,Sean Barber,"Z.Davies (99-50), J.Mantiply (1), N.Ramirez (1...",ARI
3,4,4,Apr 10,NaN,SDP,"L,5-10",9.0,8,10,7,...,1,0,0,2,2,0,5,Junior Valentine,"C.Smith (99-30-L), C.Martin (99), H.Castellano...",ARI
4,5,5,Apr 12,NaN,HOU,"L,1-2",9.0,8,2,2,...,0,0,0,0,1,1,6,John Libka,"M.Bumgarner (4-53), N.Ramirez (2), J.Wendelken...",ARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,158,158,Oct 1(2),NaN,PHI,"L,2-8",9.0,10,8,6,...,1,0,0,0,1,1,6,Ryan Blakney,"T.Romero (78-15-L), M.Thompson (0), E.Ramírez ...",WSN
163,159,159,Oct 2,NaN,PHI,"L,1-8",6.0,11,8,8,...,0,0,0,0,0,0,2,John Tumpane,"P.Corbin (11-16-L), J.Weems (1)",WSN
164,160,160,Oct 4(1),@,NYM,"L,2-4",8.0,8,4,3,...,0,0,0,1,0,0,3,D.J. Reyburn,"C.Abbott (7-40-L), J.Weems (1), A.Machado (2)",WSN
165,161,161,Oct 4(2),@,NYM,"L,0-8",8.0,12,8,8,...,0,0,0,1,0,1,8,Angel Hernandez,"P.Espino (6-11-L), R.Garrett (90), M.Thompson ...",WSN
166,162,162,Oct 5,@,NYM,"L,2-9",8.0,11,9,9,...,0,0,1,0,0,1,5,James Hoye,"E.Fedde (4-2-L), M.Thompson (0), E.Ramírez (0)...",WSN

In [63]:
clean_pitching_df = pitching_df.copy()

In [68]:
clean_pitching_df.head()

  Team Gtm    Date  Opp    Rslt   ERA
0  ARI   1   Apr 7  SDP   W,4-2  2.00
1  ARI   2   Apr 8  SDP   L,0-3  2.00
2  ARI   3   Apr 9  SDP   L,2-5  2.67
3  ARI   4  Apr 10  SDP  L,5-10  3.75
4  ARI   5  Apr 12  HOU   L,1-2  3.40

In [65]:
clean_pitching_df = clean_pitching_df[['Team', 'Gtm', 'Date', 'Opp', 'Rslt', 'ERA']]
clean_pitching_df

    Team  Gtm      Date  Opp    Rslt   ERA
0    ARI    1     Apr 7  SDP   W,4-2  2.00
1    ARI    2     Apr 8  SDP   L,0-3  2.00
2    ARI    3     Apr 9  SDP   L,2-5  2.67
3    ARI    4    Apr 10  SDP  L,5-10  3.75
4    ARI    5    Apr 12  HOU   L,1-2  3.40
..   ...  ...       ...  ...     ...   ...
162  WSN  158  Oct 1(2)  PHI   L,2-8  4.93
163  WSN  159     Oct 2  PHI   L,1-8  4.96
164  WSN  160  Oct 4(1)  NYM   L,2-4  4.95
165  WSN  161  Oct 4(2)  NYM   L,0-8  4.98
166  WSN  162     Oct 5  NYM   L,2-9  5.00

[4843 rows x 6 columns]

In [69]:
clean_pitching_df.to_csv('clean_pitching_df.csv')